doctype html
html
    head
        title Kokal's Shop
        link(type="text/css", rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.css")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    body
        include navbar.jade

        .container-fluid
            .row
                .col-xs-2
                    ul.nav.nav-stacked
                        li.active: a(href="/") Home
                        li.active: a(href="/cars") Cars
                        li.active: a(href="/cats") Cats
                        li.active: a(href="/dogs") Dogs
                .col-xs-10
                    .row
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")

                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")
                        .col-xs-3
                            a.thumbnail(href="")
                                img(src="http://pictures.topspeed.com/IMG/crop/201303/2014-ferrari-laferrari-5_600x0w.jpg")

