doctype html
html
    head
        title Kokal's Shop
        link(type="text/css", rel="stylesheet", href="css/style.css")

    body
        .divs#header
            #navbar
                ul
                    a(href="/")
                        li.nav_bar_list Home
                    a(href="https://www.facebook.com/Slim.Shady121")
                        li.nav_bar_list Facebook
            h1 This is the Kokala's Shop

        .divs#sidebar
            ul
                a(href="/")
                    li#home.sidebar_list Home
                a(href="/cars")
                    li.sidebar_list Cars
                a(href="/dogs")
                    li.sidebar_list Dogs
                a(href="/cats")
                    li.sidebar_list Cats
                a
                    li.sidebar_list football
                a
                    li.sidebar_list asdas
                a
                    li.sidebar_list sad asda sdas
                a
                    li.sidebar_list sdasd asfafsz
                a
                    li.sidebar_list asd agfafqw

        #data_bar
            table
                tr
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                tr
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                tr
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
                    td
                        a.data_bar_links(href="")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/2c/71/21/2c71213d8a5826444641d299ecdc7ebb.jpg")
                            .text Some text
