.row
.navbar.navbar-default
    .container
        .collapse.navbar-collapse#my-menu
            .row
                a.thumbnail(href="/").navbar-brand.col-xs-1
                    img(src="img/f1-logo.jpg", width="50%")
                ul.nav.navbar-nav.navbar-left.col-xs-6.col-xs-offset-1
                    li: a(href="/") Home
                    li: a(href="/teams") Teams and Drivers
                    li: a(href="/p1") Results

