extends ./base.jade

block info
    include small-bar-info.jade
    .row
        .col-xs-8.col-xs-offset-2

        .col-xs-4.col-xs-offset-2
            .thumbnail
                img(src="img/track.svg")
        .col-xs-4
            p CITY: BARCELONA
            p FIRST GRAND PRIX: 1991
            p NUMBER OF LAPS: 66
            p CIRCUIT LENGTH: 4.655 KM
            p RACE DISTANCE: 307.104 KM
            p LAP RECORD: 1:21.670 (KIMI RÄIKKÖNEN (2008))
