extends ./base.jade

block info
    include small-bar-info.jade
    .row
        .col-xs-8.col-xs-offset-2

        .col-xs-4.col-xs-offset-2
            .thumbnail
                img(src="img/spain-flag.jpg")
        .col-xs-4
            p.
                Spain, officially the Kingdom of Spain, is a sovereign state located on
                the Iberian Peninsula in southwestern Europe.
            p.
                With an area of 505,990 km2 (195,360 sq mi), Spain is the second largest country
                in Western Europe and the European Union, and the fourth largest country in Europe.
                By population, Spain is the sixth largest in Europe and the fifth in the European Union.
            p.
                Spain is a democracy organised in the form of a parliamentary government under a
                constitutional monarchy.

            h3 More Info About Spain you can find
                a(href="http://en.wikipedia.org/wiki/Spain")  Here! Spain Info in Wikipedia!
