extends ./base.jade

block info
    include ./small-bar-results.jade

    .row
        .col-xs-1.col-xs-offset-2
            p Position
        .col-xs-2
            p Driver
        .col-xs-1
            p Team
        .col-xs-3
            p Time
    .row
        .col-xs-1.col-xs-offset-2
            p 1
        .col-xs-2
            p Kimi Raikkonen
        .col-xs-1
            p Ferrari
        .col-xs-2
            p 01:47.328
    .row
        .col-xs-1.col-xs-offset-2
            p 2
        .col-xs-2
            p Sebastian Vettel
        .col-xs-1
            p Ferrari
        .col-xs-2
            p 01:47.628
