extends ./base.jade

block info
    include small-bar-td.jade


    table
        thead
            tr
                th Team
                th Drivers
                th Engine
        tbody

    script(src="/lib/jquery/dist/jquery.js")
    script(src='teams.js')


    //- .row
    //-     .col-xs-2.col-xs-offset-1
    //-         .thumbnail
    //-             img(src="img/1425652811221.png")
    //-             p.text-center Mercedes AMG Petronas Formula One Team
    //-     .col-xs-8
    //-         .row
    //-             .col-xs-2
    //-                 .thumbnail
    //-                     img(src="img/hamilton.jpg")

    //-             .col-xs-1
    //-                 h2 L.Hamilton
    //-         .row
    //-             .col-xs-2
    //-                 .thumbnail
    //-                     img(src="img/rosberg.jpg")
    //-             .col-xs-1
    //-                 h2 N.Rosberg
    //- .row
    //-     .col-xs-2.col-xs-offset-1.center
    //-         .thumbnail
    //-             img(src="img/ferrari-logo.gif")
    //-             p.text-center Ferrari
    //-     .col-xs-8
    //-         .row
    //-             .col-xs-2
    //-                 .thumbnail
    //-                     img(src="img/vettel.jpg")

    //-             .col-xs-1
    //-                 h2 S.Vettel
    //-         .row
    //-             .col-xs-2
    //-                 .thumbnail
    //-                     img(src="img/raikkonen.jpg")
    //-             .col-xs-1
    //-                 h2 K.Raikkonen
