doctype html
html
    head
        title Spanish Grand Prix

        link(type="text/css", rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    body
        include header-navbar.jade

        block info
