extends ./base.jade

block info
    include small-bar-td.jade

    .row
        .col-xs-2.col-xs-offset-1
            .thumbnail
                img(src="img/vettel.jpg")
        .col-xs-2
            h2 S.Vettel

    .row
        .col-xs-2.col-xs-offset-1
            .thumbnail
                img(src="img/raikkonen.jpg")
        .col-xs-2
            h2 K.Raikkonen
