extends ./base.jade

block info
    include small-bar-info.jade
    .row
        .col-xs-8.col-xs-offset-2

        .col-xs-4.col-xs-offset-2
            .thumbnail
                img(src="img/spain-flag.jpg")
        .col-xs-4
            p.
                Ifoo info Ifoo infoIfoo infoIfoo info Ifoo infoIfoo infoIfoo info Ifoo info
                Ifoo info Ifoo infoIfoo infoIfoo info Ifoo infoIfoo infoIfoo info Ifoo info
                Ifoo info Ifoo infoIfoo infoIfoo info Ifoo infoIfoo infoIfoo info Ifoo info
                Ifoo info Ifoo infoIfoo infoIfoo info Ifoo infoIfoo infoIfoo info Ifoo info
