.container
    h1 Grand Prix de Espana
    .navbar.navbar-default
        .container
            .collapse.navbar-collapse#my-menu
                ul.nav.navbar-nav.navbar-left
                    li: a(href="/teams") Teams
                    li: a(href="/drivers") Drivers
