doctype html
html
    head
        title Kokal's Blog
        link(type="text/css", rel="stylesheet", href="css/style.css")
    body
        #navbar
            ul
                li.navbar_list
                    a.navbar_link(href="/") Home
                li.navbar_list
                    a.navbar_link(href="https://www.facebook.com/Slim.Shady121") Facebook
                li.navbar_list
                    a.navbar_link(href="/post") Post something?!?
        h1 Kokal's Blog!
        p#first_comment Here You can read some cool staff about me!

        .story
            p.
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn h kahg
                djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja navbar_listnavbar_listnavbar_listnavb
                ar_list
                navbar_listnavbar_listnavbar_listnavbar_listnavbar_listnavbar_listnavbar_listnavbar_list
                    navbar_listnavbar_listnavbar_listnavbar_listnavbar_list
        .sidebar
            p.
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
        .story
            p.
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn h kahg djags
                asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
                asdfghjklsjajn h kahg djags asgh dhas dasl dhasljhd lashdlashdkjashd jkashdkjashdkja asdfghjklsjajn
